<nav class="tw-bg-gray-100  dark:tw-bg-black tw-w-full tw-z-20 tw-top-0 tw-start-0 container-fluid">
  <div class="tw-flex tw-py-2 tw-flex-nowrap tw-items-center tw-justify-end">
      <button id="theme-toggle" class="tw-px-3 tw-py-3 tw-bg-gray-800 tw-text-white tw-rounded tw-flex tw-items-center tw-justify-center">
        <i style="display: none;scale: 1.3;" id="sun-icon" class="fas fa-sun"></i>
        <i style="display: none;scale: 1.3;" id="moon-icon" class="fas fa-moon"></i>
      </button>
  </div>
</nav>

<nav class="tw-w-full sticky-top tw-z-20 tw-border tw-border-black dark:tw-border-white">
    <ul style="height: 30px; text-align: center;" class="progress tw-w-full tw-flex tw-flex-nowrap">
      <li class="active activate"><span>HOTEL</span></li>
      <li class="active activate"><span>ROOM</span></li>
      <li class="active"><span>RESTAURANT</span></li>
      <li class=""><span>TIME</span></li>
      <li class=""><span>CONFIRM</span></li>
    </ul>
</nav>

<div id="alert-border-1" class=" tw-mt-2 tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-blue-800 tw-border-t-4 tw-border-b-2 tw-border-blue-300 tw-bg-blue-50 dark:tw-text-blue-800 dark:tw-bg-blue-100 dark:tw-border-blue-500" role="alert">
  <i class="fa-solid fa-circle-info tw-scale-125"></i>
  <div class="tw-ms-3 tw-text-sm tw-font-medium">
    <%= alertText %>
  </div>
</div>

<div id="restaurants-container" class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-6 tw-p-4 tw-place-content-center tw-place-items-center">
    <% restaurants.forEach(restaurant => { %>   
      <% if (restaurant.isSelected === true) { %>
      <div id="<%= restaurant.restaurantID %>" onclick="SelectRestaurant(this,'<%= restaurant.restaurantID %>')" class="rounded tw-max-w-sm tw-mt-auto dark:tw-bg-black tw-bg-gray-400 tw-rounded-lg tw-shadow tw-border dark:tw-border-gray-300 tw-border-black selected-restaurant">
      <% } else { %>
      <div id="<%= restaurant.restaurantID %>" onclick="SelectRestaurant(this,'<%= restaurant.restaurantID %>')" class="rounded tw-max-w-sm tw-mt-auto dark:tw-bg-black tw-bg-gray-400 tw-rounded-lg tw-border dark:tw-border-gray-300 tw-border-black tw-shadow">
      <% } %>  
      <div class="tw-relative">
        <% if( (restaurant.restricted_restaurants === 2) && (selectedHotel != restaurant.hotel_id) && (restaurant.always_paid_free === null) ) { %>
          <div class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-z-10">
            <div class="tw-border-t tw-p-1 tw-flex-1 tw-items-center tw-justify-evenly">
              <div class="tw-flex tw-items-center tw-p-3 tw-text-sm tw-text-yellow-800 tw-rounded-md tw-bg-yellow-50 tw-border-2 tw-border-yellow-900 " role="alert">       
                <i class="fa-solid me-3 tw-scale-150 tw-text-yellow-800 fa-circle-exclamation"></i>
                <div>
                  <span class="tw-font-extrabold tw-font-sans"><%= warningCrossHotel %></span> 
                </div>
              </div>
            </div>
          </div>
        <% } %>
        <% if(restaurant.always_paid_free === 1) { %>
          <div class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-z-10">
            <div class="tw-border-t tw-p-1 tw-flex-1 tw-items-center tw-justify-evenly">
              <div class="tw-flex tw-items-center tw-p-3 tw-text-sm tw-text-yellow-800 tw-rounded-md tw-bg-yellow-50 tw-border-2 tw-border-yellow-900 " role="alert">       
                <i class="fa-solid me-3 tw-scale-150 tw-text-yellow-800 fa-circle-exclamation"></i>
                <div>
                  <span class="tw-font-extrabold tw-font-sans"><%= alwaysPaid %></span> 
                </div>
              </div>
            </div>
          </div>
        <% } %>
        <% if(restaurant.always_paid_free === 0) { %>
          <div class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-z-10">
            <div class="tw-border-t tw-p-1 tw-flex-1 tw-items-center tw-justify-evenly">
              <div class="tw-flex tw-items-center tw-p-3 tw-text-sm tw-text-green-800 tw-rounded-md tw-bg-green-50 tw-border-2 tw-border-green-900 " role="alert">       
                <i class="fa-solid me-3 tw-scale-150 tw-text-green-800 fa-circle-exclamation"></i>
                <div>
                  <span class="tw-font-extrabold tw-font-sans"><%= alwaysFree %></span> 
                </div>
              </div>
            </div>
          </div>
        <% } %>
        <div class="tw-flex tw-flex-column tw-justify-center tw-items-center">
          <% if (!restaurant.photo) { %>
            <img 
              class="tw-rounded-t-lg md:tw-h-40 tw-w-96 tw-h-56 object-cover tw-border tw-border-gray-300"               
              src="/images/noimage.jpg" 
              alt="restaurant image">
          <% } else { %>  
            <img 
              class="tw-rounded-t-lg tw-w-96 tw-h-56 object-cover tw-border tw-border-gray-300" 
              src="<%= restaurant.photo %>" 
              alt="restaurant image">
          <% } %> 
        </div>
      </div>
        <div class="tw-p-2 tw-rounded-b-md tw-bg-gray-800 dark:tw-bg-slate-950 tw-text-center">
            <p class="tw-mb-1 tw-font-bold tw-text-xl tw-text-white tw-dark:text-gray-400"><%= restaurant.name %></p>
        </div>
        <div class="tw-p-2 tw-border-t tw-border-gray-300 tw-text-white tw-flex tw-flex-nowrap tw-rounded-b-md tw-bg-gray-800 dark:tw-bg-slate-950 tw-justify-center tw-text-center tw-items-center">
          <%= restaurant.about %>
        </div>
        <div class="tw-border-t tw-py-2 tw-border-gray-300 tw-text-white tw-flex tw-items-center tw-justify-evenly tw-rounded-b-md tw-bg-gray-800 dark:tw-bg-slate-950">
          <div class="tw-inline-flex tw-items-center tw-justify-center tw-align-middle">
            <i class="tw-text-green-500 fa-solid fa-user-group tw-text-lg"></i>
            <span class="tw-font-bold tw-text-green-500 tw-text-lg"><%= restaurant.capacity %></span>     
          </div>
          <div class="tw-inline-flex tw-items-center">
            <span class="tw-font-bold tw-text-green-500 tw-text-lg">#<%= restaurant.country %></span>     
          </div>
          <div class="tw-inline-flex tw-items-center">
            <i class="fa-solid tw-scale-125 tw-text-green-600 tw-px-2 fa-location-dot"></i>
            <span class="tw-font-bold tw-text-green-500 tw-text-sm"><%= restaurant.hotel_name %></span>     
          </div>
        </div>      
        <div class="tw-p-2 tw-border-t tw-border-gray-300 tw-text-white tw-flex tw-flex-nowrap tw-rounded-b-md tw-bg-gray-800 dark:tw-bg-slate-950 tw-justify-center tw-text-center tw-items-center">
          <button onclick="menuSelection('<%= restaurant.restaurantID %>')" class=" tw-w-full tw-justify-center tw-bg-red-300 hover:tw-bg-red-400 tw-text-gray-800 tw-font-bold tw-py-2 tw-px-2 tw-rounded tw-inline-flex tw-items-center">
            <div id="view_menu_<%= restaurant.restaurantID %>">
              <i class="tw-text-2xl fa-solid tw-px-1 fa-utensils"></i>
              <span class="tw-px-2"><%= viewMenu %></span>
            </div>
            <div style="display: none;" id="loader_modal_<%= restaurant.restaurantID %>" class="spinner-border spinner-border-sm  text-light" role="status"></div>
          </button>               
        </div>
      </div>
    <% }); %>
    </div>
    <br/>
    <br/>
    <br/>
</div>

<br/><br/><br/><br/>

<div id="selectError" style="display: none;" class="tw-fixed tw-bottom-[calc(4rem+16px)] tw-left-0 tw-w-full tw-flex tw-items-center tw-p-4 tw-text-red-800 tw-border-t-4 tw-border-b-2 tw-border-red-300 tw-bg-red-200 tw-z-20" role="alert">
  <i class="fa-solid fa-circle-question"></i>
  <div id="errorAlert" class="tw-ms-3 tw-text-sm tw-font-medium"></div>
</div>  

<div class="tw-fixed dark:tw-bg-gray-950 tw-bg-white tw-border-t tw-border-t-black dark:tw-border-t-gray-300 tw-bottom-0 tw-w-full tw-p-2 tw-shadow-lg tw-z-10">
     <div class="tw-w-full tw-flex tw-flex-nowrap tw-justify-around">
      <button onclick="window.location.href='/api/v1/cancelreservation';" class="tw-p-3 tw-bg-red-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonTextExit %></span> 
          <i class="fa-regular fa-circle-xmark"></i>
        </div>
      </button>
      <button id="confirm_restaurant" class=" tw-p-3 tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div id="notloader" class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonText %></span> 
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div style="display: none;" id="loader" class="spinner-border text-light" role="status"></div>
      </button>
    </div>
</div>


<div id="viewMenuModal" class="modal modal-menu-close" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content dark:tw-bg-darkmodeModalBg dark:tw-text-white tw-px-0 tw-mx-0 tw-py-1 tw-my-1">
      <div class="modal-header tw-border-b-2 tw-border-b-gray-500">
        <h5 class="modal-title tw-text-lg tw-font-semibold"><%= menuModalTitle %></h5>
      </div>
      <div class="modal-body tw-p-0 tw-m-0 container-fluid">
          <table class="container-fluid table tw-w-full tw-border-2 table-bordered table-striped" 
              id='menu_table'
              data-toggle="table"
              data-id-field="ref"
              >
              <thead>
                  <tr>    
                      <th style="display: none;" class="tw-font-extrabold tw-text-xl" colspan="5" data-align="center"></th>
                  </tr>
                  <tr>
                      <th class="text-center tw-font-semibold tw-text-sm" data-visible="false" data-field="ref"></th>
                      <th class="text-center tw-font-semibold tw-text-sm" data-formatter="dateTimeFormatter" data-field="date"><%= dateTableTitle %> / <%= timeTableTitle %></th>                   
                      <th class="text-center tw-font-semibold tw-text-sm" data-field="timezone"><%= timeZoneTableTitle %></th>
                      <th class="text-center tw-font-semibold tw-text-sm" data-field="meal_type"><%= mealTypeTableTitle %></th>
                      <th class="text-center tw-font-semibold tw-text-sm" data-align="center" data-formatter="actionsFormatter"></th>
                  </tr>
              </thead>
          </table>
      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" class="tw-p-3 tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center"><%= close %></button>
      </div>
    </div>
  </div>
</div>


<div class="modal menu-modal fade tw-p-0 tw-m-0" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content tw-p-0 tw-m-0">
        <div class="modal-header tw-flex tw-justify-between">
          <button type="button" class="tw-text-white hover:tw-text-gray-300 tw-text-xl tw-p-0 focus:tw-outline-none" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
           <div class="tw-inline-flex tw-flex-nowrap">
               <button type="button" class="tw-text-white hover:tw-text-gray-300 tw-text-xl tw-p-0 focus:tw-outline-none" id="zoomIn"><i class="fa-solid fa-square-plus"></i></button>
               <span class="tw-text-white tw-p-2" id="zoom_percent"></span>
               <button type="button" class="tw-text-white hover:tw-text-gray-300 tw-text-xl tw-p-0 focus:tw-outline-none" id="zoomOut"><i class="fa-solid fa-square-minus"></i></button>
           </div>
        </div>
        <div class="modal-body tw-p-0 tw-m-0">
          <canvas style="width: 100%;" id="pdfCanvas"></canvas>
        </div>
        <div class="modal-footer tw-inline-flex tw-justify-center">      
            <button type="button" class="btn btn-danger" id="prevPage"><i class="fa-solid fa-arrow-left"></i></button>
            <p class="text-light">Page: <span id="pageNum"></span> of <span id="pageCount"></span></p>
            <button type="button" class="btn btn-danger" id="nextPage"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
</div>



<div style="background-color: #0000006b;" id="restaurant_confirmation_modal" class="modal tw-h-full " tabindex="-1" role="dialog">
  <div class="modal-dialog tw-flex tw-items-center tw-justify-center tw-min-h-[70%]" role="document">
    <div class="modal-content dark:tw-bg-darkmodeModalBg">
      <div class="modal-header border-0">
        <h5 class="modal-title dark:tw-text-white tw-font-extrabold"> <i class="fa-solid tw-scale-125 px-1 dark:tw-text-white fa-triangle-exclamation"></i> <%= confirmModalTitle %></h5>
      </div>
      <div id="confirmation_modal_body" class="modal-body dark:tw-text-white">
        <p></p>
      </div>
      <div class="modal-footer border-0">
        <button id="confirmation_modal_button" class="tw-p-3 tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center"><%= confirmModalContinueButton %></button>
        <button data-bs-dismiss="modal" class="tw-p-3 tw-bg-gray-600 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center"><%= confirmModalCancelButton %></button>
      </div>
    </div>
  </div>
</div>





<div id="menuModalViewer" class="modal modal-menu-close" tabindex="-1" role="dialog">
  <div id="menuModalViewerBody" class="modal-dialog modal-fullscreen" role="document">
   
  </div>
</div>

<style>
.menu-modal .modal-content {background-color: #000000 !important;}
.menu-modal .modal-body {background-color: #000000 !important;}
.modal-menu-close .modal-body {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-menu-close .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
</style>