
<div id="pointerAbsorber" class="tw-fixed tw-top-0 tw-left-0 tw-w-full tw-h-full tw-bg-transparent" style="display: none;">
    <div class="load">
      <div class="hamburger">
        <div class="top-bun"></div>
        <div class="pickle"></div>
        <div class="pickle"></div>
        <div class="tomato"><div></div></div>
        <div class="tomato"><div></div></div>
        <div class="cheese"></div>
        <div class="cheese"></div>
        <div class="beef"></div>
        <div class="bottom-bun"></div>
      </div>
      <h1 class="tw-text-white">Please wait while reserving</h1>
    </div>
  </div>
  <nav class="tw-bg-gray-100  dark:tw-bg-black tw-w-full tw-z-20 tw-top-0 tw-start-0 container-fluid">
    <div class="tw-flex tw-py-2 tw-flex-nowrap tw-items-center tw-justify-end">
        <button id="theme-toggle" class="tw-px-3 tw-py-3 tw-bg-gray-800 tw-text-white tw-rounded tw-flex tw-items-center tw-justify-center">
          <i style="display: none;scale: 1.3;" id="sun-icon" class="fas fa-sun"></i>
          <i style="display: none;scale: 1.3;" id="moon-icon" class="fas fa-moon"></i>
        </button>
    </div>
  </nav>
  <nav class="tw-w-full sticky-top tw-z-20 tw-border tw-border-black dark:tw-border-white">
    <ul style="height: 30px; text-align: center;" class="progress tw-w-full tw-flex tw-flex-nowrap">
      <li class="active activate"><span>HOTEL</span></li>
      <li class="active activate"><span>ROOM</span></li>
      <li class="active activate"><span>RESTAURANT</span></li>
      <li class="active"><span>TIME</span></li>
      <li class=""><span>CONFIRM</span></li>
    </ul>
  </nav>

  <div id="alert-border-1" class=" tw-mt-2 tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-blue-800 tw-border-t-4 tw-border-b-2 tw-border-blue-300 tw-bg-blue-50 dark:tw-text-blue-800 dark:tw-bg-blue-100 dark:tw-border-blue-500" role="alert">
    <i class="fa-solid fa-circle-info tw-scale-125"></i>
    <div class="tw-ms-3 tw-text-sm tw-font-medium">
      <%= alertText %>
    </div>
  </div>


<div class="tw-relative tw-mx-auto tw-bg-gray-100 tw-w-full tw-p-3 tw-px-0 tw-pt-0">

  <div id="step_one" > 
    <div class="tw-flex tw-pt-7">
      <i class="fa-solid fa-2x fa-1 tw-px-4 tw-text-red-600"></i>
      <h6 class="tw-mb-4 tw-font-semibold tw-text-gray-900 dark:text-white"> <%= selectYourDate %> </h6>
    </div>
    <div class="tw-inline-flex tw-px-8 tw-items-center tw-justify-start tw-pt-2">
      <div class="tw-relative tw-min-w-fit">
        <input
          onfocus="this.showPicker()"
          id="datepicker"
          style="border:solid 1px black; font-family:SF-REGULAR"
          class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-focus:ring-blue-500 tw-focus:border-blue-500 tw-block tw-w-full tw-ps-10 tw-p-2.5"
          min="<%= startDate %>"
          max="<%= endDate %>"
          type="date"
        />
        <div class="tw-absolute tw-inset-y-0 tw-left-0 tw-flex tw-items-center tw-pl-3">
          <i class="fas fa-calendar-alt tw-text-gray-900"></i>
        </div>
      </div>
      <button id="search" class="tw-p-3 tw-bg-gray-800 tw-text-white tw-py-2 hover:tw-bg-gray-600 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div id="search_normal" class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2">Search</span> 
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div style="display: none;" id="search_spinner">
          <div class="spinner-border spinner-border-sm" role="status"></div>
        </div>
      </button>
    </div>
    <div id="table_show_hide" style="display: none;" class="tw-w-full tw-px-0 tw-pb-2 tw-pt-5 tw-bg-gray-100">
        <table 
          id='datepricetable'   
          data-click-to-select="true"    
          data-row-style="rowStyle"  
          class="table-bordered table-striped m-0 p-0 tw-w-full tw-border-2"   
          data-unique-id="restaurant_pricing_times_id"    
          >
          <thead>
          <tr>  
              <th rowspan="2" data-formatter="stateFormatter" data-radio="true" data-show-select-title="true" data-valign="middle"></th>
              <th colspan="5" class="font-weight-bold" data-align="center"><p> <%= tableHeader %> </p></th>
          </tr>
          <tr>  
            <th data-visible="false" data-field="restaurant_pricing_times_id"></th>
            <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-cell-style="timeStyle" data-formatter="timeFormatter" data-field="time" data-sortable = "true" data-switchable = "true">Time</th>
            <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-field = "remaining" data-formatter="remainingFormatter" data-sortable = "true" data-switchable = "true">remaining</th>
            <% if (paid === true) { %>
                <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-formatter="priceFormatter" data-field="price" data-sortable = "true" data-switchable = "true">Price</th>
            <% } else { %>
              <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-formatter="priceFormatterFree" data-field="free" data-sortable = "true" data-switchable = "true">Price</th>
            <% } %> 
            <th data-field="per_person" data-visible="false"></th>
            <th data-field="meal_type" data-visible="false"></th>
          </tr>
          </thead>
        </table>
       
    </div>
  </div>

  <div style="display: none;" id="step_two"></div>

   

  <% if (paid === true) { %>
    <table style="display: none;border: black solid 2px;" id="total_table" class="table tw-mt-3 table-bordered">
      <thead>
        <tr>
          <th style="background-color: rgba(255, 255, 0, 0.5);" class="tw-uppercase  tw-text-slate-900 tw-text-lg " scope="col"> <%= total %> </th>
          <th style="background-color: rgba(255, 255, 0, 0.5);" class="tw-font-extrabold tw-text-slate-900 tw-text-lg" id="totalAmmount" scope="col"></th>
        </tr>
      </thead>
    </table>
  <% } %> 
  </div>

  

  <br/><br/><br/><br/><br/><br/><br/><br/>



  <div id="selectError" style="display: none;" class="tw-fixed tw-bottom-[calc(4rem+16px)] tw-left-0 tw-w-full tw-flex tw-items-center tw-p-4 tw-text-red-800 tw-border-t-4 tw-border-b-2 tw-border-red-300 tw-bg-red-200 tw-z-20" role="alert">
    <i class="fa-solid fa-circle-question"></i>
    <div id="errorAlert" class="tw-ms-3 tw-text-sm tw-font-medium">
      <%= error %>
    </div>
  </div> 
  <div class="tw-fixed dark:tw-bg-gray-950 tw-bg-white tw-border-t tw-border-t-black dark:tw-border-t-gray-300 tw-bottom-0 tw-w-full tw-p-2 tw-shadow-lg tw-z-10">
    <div class="tw-w-full tw-flex tw-flex-nowrap tw-justify-around">
      <button onclick="window.location.href='/api/v1/cancelreservation';" class="tw-p-3 tw-bg-red-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonTextExit %></span> 
          <i class="fa-regular fa-circle-xmark"></i>
        </div>
      </button>
      <button  id="confirm" class="tw-p-3 tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div id="notloader" class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonText %></span> 
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div style="display: none;" id="loader" class="spinner-border text-light" role="status"></div>
      </button>
    </div>
  </div>

  <script>
    noSelectedGuestsError  = '<%= noSelectedGuestsError %>'
    noSelectedTimeError  = '<%= noSelectedTimeError %>'
  </script>
  