<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/flags/css/flag-icons.min.css">
</head>

<body>
    <section class="">
        <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-px-6 tw-py-8 tw-mx-auto md:tw-h-screen lg:tw-py-0">
            
            
            
            <div class="tw-w-full tw-bg-white tw-rounded-lg tw-shadow tw-dark:border md:tw-mt-0 sm:tw-max-w-md xl:tw-p-0 tw-dark:bg-gray-800 tw-dark:border-gray-700">
               
                <div class="tw-p-6 tw-space-y-4 md:tw-space-y-6 sm:tw-p-8">
                    <img src="<%= companyLogo %>" alt="Company Logo" class="tw-h-8 tw-p-0 tw-m-0 tw-mx-auto">
                    <h5 class="tw-text-black tw-text-center tw-p-0 tw-m-0 tw-font-normal"><%= companyName %></h5>
                    <h1 class="tw-text-xl tw-font-bold tw-leading-tight tw-tracking-tight tw-text-gray-900 md:tw-text-2xl tw-dark:text-white">
                        <%= signInHeader %>
                    </h1>
                    <form class="tw-space-y-4 md:tw-space-y-6" action="#">
                        <div>
                            <label for="email" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-dark:text-white"><%= usernameEmail %></label>
                            <input type="text" name="email" id="email" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-rounded-lg focus:tw-ring-primary-600 focus:tw-border-primary-600 tw-block tw-w-full tw-p-2.5 tw-dark:bg-gray-700 tw-dark:border-gray-600 tw-dark:placeholder-gray-400 tw-dark:text-white tw-dark:focus:tw-ring-blue-500 tw-dark:focus:tw-border-blue-500" placeholder="<%= usernameEmail %>" required="">
                        </div>
                        <div>
                            <label for="password" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-dark:text-white"><%= password %></label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-rounded-lg focus:tw-ring-primary-600 focus:tw-border-primary-600 tw-block tw-w-full tw-p-2.5 tw-dark:bg-gray-700 tw-dark:border-gray-600 tw-dark:placeholder-gray-400 tw-dark:text-white tw-dark:focus:tw-ring-blue-500 tw-dark:focus:tw-border-blue-500" required="">
                        </div>
                        <button type="submit" class="tw-w-full tw-text-white tw-bg-gray-900 hover:tw-bg-gray-700 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-gray-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-dark:bg-primary-600 tw-dark:hover:tw-bg-primary-700 tw-dark:focus:tw-ring-primary-800"><%= signIn %></button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/language.js"></script>
</body>
</html>