<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/reservation.css" rel="stylesheet">
</head>

<body>

  <nav class="tw-w-full tw-z-20">
    <ul style="height: 30px; text-align: center;" class="progress tw-w-full tw-flex tw-flex-nowrap">
      <li class="active"><span>HOTEL</span></li>
      <li class=""><span>RESTAURANT</span></li>
      <li class=""><span>TIME</span></li>
      <li class=""><span>CONFIRM</span></li>
    </ul>
  </nav>

  <div class="content tw-mt-0.5">

    <div id="alert-border-1" class=" tw-mt-2 tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-blue-800 tw-border-t-4 tw-border-b-2 tw-border-blue-300 tw-bg-blue-50 dark:tw-text-blue-400 dark:tw-bg-gray-800 dark:tw-border-blue-800" role="alert">
      <ion-icon class="tw-text-3xl" name="information-circle-sharp"></ion-icon>
      <div class="tw-ms-3 tw-text-sm tw-font-medium">
        <%= alertText %>
      </div>
    </div>

    <div class="tw-grid tw-grid-cols-2 sm:tw-grid-cols-3 lg:tw-grid-cols-4 tw-gap-6 tw-p-4 tw-place-content-center tw-place-items-center">
      <% hotels.forEach(hotel => { %>
        <div id="hotels-container" onclick="selectCard(this)" class="tw-max-w-sm tw-mt-auto tw-bg-gray-400 tw-border-4 tw-rounded-lg tw-shadow tw-dark:bg-gray-800">
          <a class="tw-flex tw-m-0.5 tw-justify-center tw-items-center">  
            <% if (!hotel.logo) { %>
              <img 
                class="tw-rounded-t-lg tw-object-fill" 
                src="/images/noimage.jpg" 
                alt="no image">
            <% } else { %>
              <img 
                class="tw-rounded-t-lg tw-object-fill" 
                src="<%= hotel.logo %>" 
                alt="hotel image">
            <% } %>
          </a>
          <div class="tw-p-2 tw-rounded-b-lg tw-bg-gray-800 tw-text-center">
            <p class="tw-mb-1 tw-font-bold tw-text-white tw-dark:text-gray-400">
              <%= hotel.name %>
            </p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <div class="tw-fixed tw-bottom-0 tw-w-full tw-p-4 tw-shadow-lg tw-z-10">
    <button class="tw-w-2/6 tw-float-right tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw-ring-gray-300">
      <div><%= buttonText %></div> <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
    </button>
  </div>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/reservation_script.js"></script>
    <script type="module" src="/ionicons/ionicons.esm.js"> </script>
    <script nomodule src="/ionicons/ionicons.js"> </script>

</body>
</html>