<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/reservation.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
</head>

<body>
  <div id="pointerAbsorber" class="tw-fixed tw-top-0 tw-left-0 tw-w-full tw-h-full tw-bg-transparent" style="display: none;"></div>

  <nav class="tw-w-full tw-z-20">
    <ul style="height: 30px; text-align: center;" class="progress tw-w-full tw-flex tw-flex-nowrap">
      <li class="active"><span>HOTEL</span></li>
      <li class=""><span>ROOM</span></li>
      <li class=""><span>RESTAURANT</span></li>
      <li class=""><span>TIME</span></li>
      <li class=""><span>CONFIRM</span></li>
    </ul>
  </nav>

  <div class="content tw-mt-0.5">

   

    <div id="alert-border-1" class=" tw-mt-2 tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-blue-800 tw-border-t-4 tw-border-b-2 tw-border-blue-300 tw-bg-blue-50 dark:tw-text-blue-400 dark:tw-bg-gray-800 dark:tw-border-blue-800" role="alert">
      <i class="fa-solid fa-circle-info"></i>
      <div class="tw-ms-3 tw-text-sm tw-font-medium">
        <%= alertText %>
      </div>
    </div>

    <div id="hotels-container" class="tw-grid tw-grid-cols-2 sm:tw-grid-cols-3 lg:tw-grid-cols-4 tw-gap-6 tw-p-4 tw-place-content-center tw-place-items-center">
      <% hotels.forEach(hotel => { %>   
        <% if (hotel.isSelected === true) { %>
        <div id="<%= hotel.hotelID %>" onclick="selectHotel(this,'<%= hotel.hotelID %>')" class="rounded tw-max-w-sm tw-mt-auto tw-bg-gray-400 tw-rounded-lg tw-shadow tw-dark:bg-gray-800 selected">
        <% } else { %>
        <div id="<%= hotel.hotelID %>" onclick="selectHotel(this,'<%= hotel.hotelID %>')" class="rounded tw-max-w-sm tw-mt-auto tw-bg-gray-400 tw-rounded-lg tw-shadow tw-dark:bg-gray-800">
        <% } %>  
          <a class="tw-flex tw-m-0.5 tw-justify-center tw-items-center">          
            <% if (!hotel.logo) { %>
              <img 
                class="tw-rounded-t-lg tw-object-fill" 
                src="/images/noimage.jpg" 
                alt="no image">
            <% } else { %>
              <img 
                class="tw-rounded-t-lg tw-object-fill" 
                src="<%= hotel.logo %>" 
                alt="hotel image">
            <% } %>     
          </a>
          <div id="name_holder" class="tw-p-2 tw-rounded-b-md tw-bg-gray-800 tw-text-center">
            <p class="tw-mb-1 tw-font-bold tw-text-white tw-dark:text-gray-400">
              <%= hotel.name %> 
            </p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <div class="tw-fixed tw-bottom-0 tw-w-full tw-p-4 tw-shadow-lg tw-z-10">
    <div id="selecterror" style="display: none;" class="tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-red-800 tw-border-t-4 tw-border-b-2 tw-red-blue-300 tw-bg-red-200 dark:tw-text-red-400 dark:tw-bg-gray-800 dark:tw-red-blue-800" role="alert">
      <i class="fa-solid fa-circle-question"></i>
      <div class="tw-ms-3 tw-text-sm tw-font-medium">
        <%= error %>
      </div>
    </div>
    <div class="tw-w-full tw-flex tw-flex-nowrap tw-justify-around">
      <button onclick="window.location.href='/api/v1/cancelreservation';" class=" tw-p-3 tw-bg-red-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonTextExit %></span> 
          <i class="fa-regular fa-circle-xmark"></i>
        </div>
      </button>
      <button id="confirm" class="tw-p-3 tw-float-right tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div id="notloader" class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonText %></span> 
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div style="display: none;" id="loader" class="spinner-border text-light" role="status"></div>
      </button>
    </div>
  </div>


    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/hotel_script.js"></script>
</body>
</html>