<!DOCTYPE html>
<html lang="en" class="light">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/time.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">

</head>

<body>

  <div id="pointerAbsorber" class="tw-fixed tw-top-0 tw-left-0 tw-w-full tw-h-full tw-bg-transparent" style="display: none;">
    <div class="load">
      <div class="hamburger">
        <div class="top-bun"></div>
        <div class="pickle"></div>
        <div class="pickle"></div>
        <div class="tomato"><div></div></div>
        <div class="tomato"><div></div></div>
        <div class="cheese"></div>
        <div class="cheese"></div>
        <div class="beef"></div>
        <div class="bottom-bun"></div>
      </div>
      <h1 class="tw-text-white">Please wait while reserving</h1>
    </div>
  </div>
  
  <nav class="tw-w-full tw-z-20">
    <ul style="height: 30px; text-align: center;" class="progress tw-w-full tw-flex tw-flex-nowrap">
      <li class="active activate"><span>HOTEL</span></li>
      <li class="active activate"><span>ROOM</span></li>
      <li class="active activate"><span>RESTAURANT</span></li>
      <li class="active"><span>TIME</span></li>
      <li class=""><span>CONFIRM</span></li>
    </ul>
  </nav>

  <div id="alert-border-1" class=" tw-mt-2 tw-flex tw-items-center tw-p-4 tw-mb-0 tw-text-blue-800 tw-border-t-4 tw-border-b-2 tw-border-blue-300 tw-bg-blue-50 dark:tw-text-blue-400 dark:tw-bg-gray-800 dark:tw-border-blue-800" role="alert">
    <i class="fa-solid fa-circle-info"></i>
    <div id="alert-text" class="tw-ms-3 tw-text-sm tw-font-medium">
      <%= alertText %>
    </div>
  </div>


  <div class="tw-relative tw-mx-auto tw-bg-gray-100 tw-w-full tw-p-3 tw-pt-3">
    <div class="tw-flex tw-py-2 pb-0">
      <i class="fa-solid fa-2x fa-1 tw-px-4 tw-text-red-600"></i>
      <% if (reservation_by_room === true) { %>
        <h6 class="tw-mb-4 tw-font-semibold tw-text-gray-900 dark:text-white tw-inline-flex"> <%= RoomBasedReservation %> <p class="tw-text-red-600 tw-px-2"> (<%= roomNumber %>) </p></h6>
      <% } else { %>
        <h6 class="tw-mb-4 tw-font-semibold tw-text-gray-900 dark:text-white tw-inline-flex"><%= paxBasedReservation %>  <p class="tw-text-red-600 tw-px-2"> (<%= roomNumber %>) </p></h6>
      <% } %> 
    </div>
    

    <ul id="names_list" class="tw-items-center tw-w-full tw-text-sm tw-font-medium tw-text-gray-900 tw-bg-gray-300 tw-border tw-border-gray-200 tw-rounded-lg sm:tw-flex tw-dark:bg-gray-700 tw-dark:border-gray-600 tw-dark:text-white">   
      <% if (reservation_by_room === true) { %>
        <% names.forEach(name => { %>
          <li class="tw-w-full tw-px-2 tw-border-b tw-border-gray-200 sm:tw-border-b-0 sm:tw-border-r tw-dark:border-gray-600">
            <div class="tw-flex tw-items-center tw-ps-3">
                <i class="fa-solid fa-1.5x fa-user"></i>           
                <label for="<%= name %>" class="tw-w-full tw-py-3 tw-ms-2 tw-text-sm tw-font-sans tw-font-bold tw-text-gray-900 tw-dark:text-gray-300"><%= name %></label>                    
                <input hidden checked id="<%= name %>" type="checkbox" value="" class="tw-w-6 tw-h-6 tw-text-blue-600 tw-bg-gray-100 tw-border-gray-300 tw-rounded focus:tw-ring-blue-500 tw-dark:focus:tw-ring-blue-600 tw-dark:tw-ring-offset-gray-700 tw-dark:focus:tw-ring-offset-gray-700 focus:tw-ring-2 tw-dark:bg-gray-600 tw-dark:border-gray-500"> 
            </div>
          </li>
        <% }); %>
      <% } else { %>
        <% names.forEach(name => { %>
          <li class="tw-w-full tw-px-2 tw-border-b tw-border-gray-200 sm:tw-border-b-0 sm:tw-border-r tw-dark:border-gray-600">
            <div class="tw-flex tw-justify-start tw-items-center tw-ms-0 tw-ps-0">
                <i class="fa-solid fa-1.5x fa-user"></i>           
                <label for="<%= name %>" class="tw-w-full tw-py-3 tw-ms-2 tw-text-sm tw-font-sans tw-font-bold tw-text-gray-900 tw-dark:text-gray-300"><%= name %></label>                    
                <input checked id="<%= name %>" type="checkbox" value="" class="tw-w-6 tw-h-6 tw-text-blue-600 tw-bg-gray-100 tw-border-gray-300 tw-rounded focus:tw-ring-blue-500 tw-dark:focus:tw-ring-blue-600 tw-dark:tw-ring-offset-gray-700 tw-dark:focus:tw-ring-offset-gray-700 focus:tw-ring-2 tw-dark:bg-gray-600 tw-dark:border-gray-500"> 
            </div>
          </li>
        <% }); %>
      <% } %> 
    </ul>

  <hr class="py-0 my-0" />

  <div class="tw-flex tw-pt-7">
    <i class="fa-solid fa-2x fa-2 tw-px-4 tw-text-red-600"></i>
    <h6 class="tw-mb-4 tw-font-semibold tw-text-gray-900 dark:text-white"> <%= selectYourDate %> </h6>
  </div>

  <div class="tw-inline-flex tw-items-center tw-justify-start tw-pt-2">
    <div class="tw-relative tw-min-w-fit">
      <input
        onfocus="this.showPicker()"
        id="datepicker"
        style="border:solid 1px black; font-family:SF-REGULAR"
        class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-focus:ring-blue-500 tw-focus:border-blue-500 tw-block tw-w-full tw-ps-10 tw-p-2.5"
        min="<%= startDate %>"
        max="<%= endDate %>"
        type="date"
      />
      <div class="tw-absolute tw-inset-y-0 tw-left-0 tw-flex tw-items-center tw-pl-3">
        <i class="fas fa-calendar-alt tw-text-gray-900"></i>
      </div>
    </div>
    <button id="search" class="tw-p-3 tw-bg-gray-800 tw-text-white tw-py-2 hover:tw-bg-gray-600 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
      <div id="search_normal" class="tw-flex tw-items-center tw-justify-center">
        <span class="tw-mr-2">Search</span> 
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div style="display: none;" id="search_spinner">
        <div class="spinner-border spinner-border-sm" role="status"></div>
      </div>
    </button>
  </div>

  <hr class="py-0 my-3" />

  </div>

  <div id="table_show_hide" style="display: none;" class="tw-w-full tw-pb-7 tw-bg-gray-100">
    <div class="tw-flex tw-py-2">
      <i class="fa-solid fa-2x fa-3 tw-px-4 tw-text-red-600"></i>
      <h5 class="tw-mb-4 tw-font-semibold tw-text-gray-900 dark:text-white">Select time </h5>
    </div>
      <table 
        id='datepricetable'   
        data-click-to-select="true"    
        data-row-style="rowStyle"  
        class="table-bordered table-striped m-0 p-0 tw-w-full tw-border-2"   
        data-unique-id="restaurant_pricing_times_id"      
        >
        <thead>
        <tr>  
            <th rowspan="2" data-formatter="stateFormatter" data-radio="true" data-show-select-title="true" data-valign="middle"></th>
            <th colspan="5" class="font-weight-bold" data-align="center"><p> <%= tableHeader %> </p></th>
        </tr>
        <tr>  
          <th data-visible="false" data-field="restaurant_pricing_times_id"></th>
          <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-cell-style="timeStyle" data-formatter="timeFormatter" data-field="time" data-sortable = "true" data-switchable = "true">Time</th>
          <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-field = "remaining" data-sortable = "true" data-switchable = "true">remaining</th>
          <% if (paid === true) { %>
              <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-formatter="priceFormatter" data-field="price" data-sortable = "true" data-switchable = "true">Price</th>
          <% } else { %>
            <th class="tw-text-center tw-font-bold tw-font-sans tw-px-4" data-formatter="priceFormatterFree" data-field="free" data-sortable = "true" data-switchable = "true">Price</th>
          <% } %> 
          <th data-field="per_person" data-visible="false"></th>
          <th data-field="meal_type" data-visible="false"></th>
        </tr>
        </thead>
      </table>
      <button id="confirm" class="tw-p-3 tw-mt-4 tw-mx-auto tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div id="notloader" class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonText %></span> 
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div style="display: none;" id="loader" class="spinner-border text-light" role="status"></div>
      </button>
  </div>

  <br/><br/><br/><br/><br/><br/><br/><br/>



  <div class="tw-fixed tw-bg-white tw-bottom-0 tw-w-full tw-p-4 tw-shadow-lg tw-z-10">
    <div id="selecterror" style="display: none;" class="tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-red-800 tw-border-t-4 tw-border-b-2 tw-red-blue-300 tw-bg-red-200 dark:tw-text-red-400 dark:tw-bg-gray-800 dark:tw-red-blue-800" role="alert">
      <i class="fa-solid fa-circle-question"></i>
      <div id="errorAlert" class="tw-ms-3 tw-text-sm tw-font-medium">
        <%= error %>
      </div>
    </div>
    <div class="tw-w-full tw-flex tw-flex-nowrap tw-justify-around">
      <button onclick="window.location.href='/api/v1/cancelreservation';" class="tw-p-3 tw-bg-red-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonTextExit %></span> 
          <i class="fa-regular fa-circle-xmark"></i>
        </div>
      </button>
    </div>
  </div>
  
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/time_script.js"></script>
    <script src="/js/pdf.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
</body>
</html>